.spinnerWrapper {
  margin: auto;
}
.spinnerWrapper .spinnerOuter,
.spinnerWrapper .spinnerMiddle {
  background-color: transparent;
  opacity: 0.9;
  border-radius: 50px;
  margin: 0 auto;
  position: relative;
  border: 5px solid #9356dc;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
}
.spinnerWrapper .spinnerOuter {
  width: 50px;
  height: 50px;
  -moz-animation: spin 1.1s infinite linear;
  -webkit-animation: spin 1.1s infinite linear;
}
.spinnerWrapper .spinnerMiddle {
  width: 30px;
  height: 30px;
  top: -40px;
  -moz-animation: spinoff 1s infinite linear;
  -webkit-animation: spinoff 1s infinite linear;
  border-color: #99e2d0;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-moz-keyframes spinoff {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(-360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spinoff {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.button_menu {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}
.button_menu.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.button_menu.two {
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  animation-delay: 1.7s;
}
.button_menu.three {
  -webkit-animation-delay: 2.6s;
  -moz-animation-delay: 2.6s;
  animation-delay: 2.6s;
}

.anim-gradient i {
  color: #333;
  font-size: 70px;
  opacity: 1;
  transition: 0.3s ease-out;
  cursor: pointer;
}
@media (max-width: 991px) {
  .anim-gradient i {
    font-size: 26px;
  }
}
.anim-gradient i:hover {
  animation: 5s ease-in-out;
  background: linear-gradient(to top, #ff79da, #9356dc);
  background: -webkit-linear-gradient(to top, #ff79da, #9356dc);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  display: inline-block;
  opacity: 1;
}

.menu_check {
  transition: all 0.9s ease-in-out;
  -webkit-transition: all 0.9s ease-in-out;
  -moz-transition: all 0.9s ease-in-out;
  -o-transition: all 0.9s ease-in-out;
}
.menu_check:hover {
  transform: translateX(-150px);
  -ms-transform: translateX(-150px);
  -webkit-transform: translateX(-150px);
}
.menu_check:hover.rotate {
  transition: all 0.9s ease-in-out;
  transform: rotateX(360deg);
}

/*# sourceMappingURL=animation.css.map */
