@charset "UTF-8";
/* TABLETTE et DESKTOP */
@media screen and (min-width: 768px) {
  header {
    width: 100%;
  }
  body {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
  }
  .container {
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0 0 0;
  }
  .noPadding {
    padding: 0;
  }
  /*logo OHMYFOOD*/
  .img_logo img {
    height: 30px;
  }
  /*Barre de recherche*/
  form {
    padding: 10px;
  }
  form i.location {
    margin-left: 39%;
    font-size: 20px;
  }
  form input {
    text-indent: 10px;
    text-align: center;
    width: 18%;
    margin: 0;
  }
  /*Titre H1 -Réservez le Menu qui vous convient-*/
  h1 {
    justify-content: center;
    font-size: 30px;
  }
  /*Bouton "Explorer nos restaurants*/
  .button {
    height: 60px;
    width: 40%;
    font-weight: 500;
  }
  /*Titre H2 "Fonctionnement" & Titre "Restaurants*/
  h2 {
    font-size: 25px;
    padding: 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
  }
  /* 3 Boutons "Choisissez un restaurant"/"Composez votre menu"/"Dégustez au restaurant" */
  .buttons {
    flex-direction: row;
    padding-bottom: 30px;
  }
  .button_choix {
    width: 100%;
    font-size: 15px;
    margin-left: 20%;
    margin: 10px;
    font-weight: 600;
    padding-right: 31px;
  }
  /*Les restaurants-cartes*/
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
  }
  .cards a {
    flex-basis: 40%;
  }
  .card_restaurant span {
    font-size: 15px;
    padding: 5px;
    top: 20px;
    right: 20px;
  }
  .card_restaurant .information_card_restaurant .i_heart {
    font-size: 26px;
    top: calc(60% - 20px);
    right: 0;
    margin-top: 28px;
  }
  .card_restaurant .information_card_restaurant p {
    font-size: 18px;
  }
  footer {
    padding: 25px 20px 40px 20px;
  }
  footer .container_footer {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  footer .h3_footer h3 {
    font-size: 20px;
    height: 40px;
  }
  footer ul {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  footer ul li {
    line-height: 1.5;
    font-size: 17px;
  }
  footer ul .icon_restaurant {
    margin: 0px;
    padding-top: 0px;
  }
  footer ul .icon_partenaire {
    margin: 0px;
    padding-top: 0px;
  }
  /* PARTIE PAGES MENU*/
  /*Header*/
  .header_page_menu i.back {
    top: -10px;
  }
  .header_page_menu .logo_img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header_page_menu .img_logo {
    position: relative;
  }
  .header_page_menu .img_logo img {
    height: 37px;
  }
  .header_page_menu .img_restaurant img {
    height: 74%;
  }
  main {
    padding: 0;
  }
  main.bg_color {
    border-radius: 30px 30px 0 0;
    top: -200px;
  }
  main .h1_menu {
    font-size: 33px;
  }
  main .i_heart i {
    font-size: 30px;
  }
  main .i_heart i.normal {
    font-size: 30px;
    width: 30px;
  }
  main .i_heart i.color {
    font-size: 30px;
    width: 30px;
  }
  main .menu {
    align-items: center;
    justify-content: center;
  }
  main .menu .h2_menu {
    font-size: 23px;
    padding-bottom: 0;
    right: 0;
  }
  main .menu .h2_menu::after {
    margin-left: auto;
  }
  main .menu .liste_menu {
    padding-top: 30px;
  }
  main .menu .liste_menu li .validation_menu {
    height: 80px;
  }
  main .menu .liste_menu li .validation_menu .button_menu {
    height: 100px;
  }
  main .menu .liste_menu li .validation_menu .button_menu h3 {
    font-size: 18px;
  }
  main .menu .liste_menu li .validation_menu .button_menu p {
    font-size: 16px;
  }
  main .button_commander {
    font-size: 19px;
    font-weight: 500;
    top: 85px;
  }
}
/* DESKTOP uniquement */
@media screen and (min-width: 992px) {
  /*PAGE D'ACCUEIL*/
  header .img_logo img {
    height: 46px;
  }
  .button {
    width: 35%;
  }
  .button_choix {
    font-size: 16px;
  }
  .cards {
    gap: 30px;
  }
  .cards a {
    flex-basis: 20%;
  }
  .cards .card_restaurant .information_card_restaurant .i_heart {
    top: calc(60% - 30px);
  }
  footer {
    padding: 40px 20px 40px 20px;
  }
  footer ul li {
    font-size: 20px;
  }
  /*Partie Page Menu*/
  /*Header*/
  .header_page_menu i.back {
    font-size: 37px;
    top: -32px;
  }
  .header_page_menu .img_logo img {
    height: 43px;
  }
  .header_page_menu .img_restaurant img {
    height: 65%;
  }
  main.bg_color {
    top: -175px;
  }
  main .h1_menu {
    font-size: 39px;
  }
  main .i_heart {
    right: 200px;
  }
  main .menu .h2_menu {
    font-size: 24px;
    padding: 30px;
  }
  main .menu .h2_menu::after {
    margin-left: auto;
  }
  main .menu .liste_menu {
    width: 70%;
  }
  main .button_commander {
    height: 60px;
    width: 45%;
    font-size: 19px;
  }
  footer ul li {
    font-size: 16px;
  }
}

/*# sourceMappingURL=responsive.css.map */
