// 1. Animation Loader spinner Page d'accueil //

/* .spinner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 19 !important;
    background-color: white;

    .spinner-icon {
      width: 40px;
      height: 40px;
      border: solid 4px transparent;
      border-top-color: #99E2D0;
      border-left-color: #99E2D0;
      border-radius: 50%;
      animation:loader-spinner 3s forwards;
};
    }

  }
*/



/*@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 0;
  }
} */



// FIN Animation Loader spinner Page d'accueil//











//2. Animation Apparition progressive des menus //



@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.button_menu {

  opacity: 0;

  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;

  &.one {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
  }
  
  &.two {
    -webkit-animation-delay: 1.7s;
    -moz-animation-delay: 1.7s;
    animation-delay: 1.7s;
  }
  
  &.three {
    -webkit-animation-delay: 2.6s;
    -moz-animation-delay: 2.6s;
    animation-delay: 2.6s;
  }
  
}




//FIN Animation Apparition progressive des menus //







//3. Animation remplissage progressif Icône coeur au hover//


.anim-gradient i {
  color: #333;
  font-size: 70px;
  opacity: 1;
  transition: 0.3s ease-out;
  cursor: pointer;

  @media (max-width:991px) {
    font-size: 26px;
  }

  &:hover {
    animation: 1s ease-in-out;
    background: linear-gradient(to top, #ff79da, #9356dc);
    background: -webkit-linear-gradient(to top, #ff79da, #9356dc);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    display: inline-block;
    opacity: 1;
  }
}

// FIN Animation remplissage icone coeur au hover//





//4. Animation coche à droite au hover //





//FIN Animation coche à droite au hover //