/* DESKTOP Pour ceux qui ont une résolution supérieure ou égale à 992px */
@media screen and (min-width:992px) {
  header {
    width: 100%;
  }

  .container {
    width: 100%;
  }

}

/* TABLETTE Pour ceux qui ont une résolution comprise entre 768 px et 991px */
@media screen and (min-width:768px) and (max-width:991px) {

  header {
    width: 100%;
  }

  body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
  }

  .container {
    justify-content: space-around;
    max-width: 991px;
    margin: 0 auto;
    padding: 20px 0 0 0;
  }

  .noPadding {
    padding: 0;
  }


  /*logo OHMYFOOD*/

  .img_logo {
    display: flex;
    justify-content: center;
    padding: 30px 0 30px 0;
    width: auto;

    img {
      height: 30px;
    }

  }


  /*Barre de recherche*/

  form {
    display: flex;
    justify-content: left;
    background-color: #e8e9eb;
    width: 100%;
    padding: 10px;
    box-shadow: inset 0px 3px 4px rgb(151, 151, 151);

    i.location {
      height: 50px;
      display: flex;
      align-items: center;
      margin-left: 39%;
      font-size: 20px;
    }

    input {
      display: flex;
      width: 100%;
      text-indent: 10px;
      border: none;
      background-color: #e8e9eb;
      font-size: 18px;
      text-align: center;
      width: 18%;
      margin: 0;

      &:focus-visible {
        outline: none;
      }

      &::placeholder {
        color: black;
      }
    }
  }

  /*Titre H1 -Réservez le Menu qui vous convient-*/

  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 50px;
    font-size: 30px;
    font-weight: 700;
  }


  /*Paragraphe p1 -Découvrez des restaurants d'exception, séléctionnés par nos soins.-*/

  .p1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    height: 40px;
    color: #646262;
  }


  /*Bouton "Explorer nos restaurants*/

  .button_explorer {
    padding: 30px;
    border-radius: 30px;
    padding: 20px 50px;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    background: transparent;
    transition: all .2s;
    color: #fff;
    box-shadow: 0px -0px 0px 0px #9356DC, 0px 0px 0px 0px #99E2D0;
    background: linear-gradient(-185deg, #FF79DA, #9356DC);
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left: 24%;

    button {
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      color: white;
      font-size: 20px;
      width: 100%;
    }
  }

  /*Titre H2 "Fonctionnement" & Titre "Restaurants*/

  h2 {
    font-size: 25px;
    padding: 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
  }


  /* 3 Boutons "Choisissez un restaurant"/"Composez votre menu"/"Dégustez au restaurant" */

  .buttons {
    display: flex;
    padding: 0 20px;
    padding-bottom: 30px;
  }


  .button_choix {

    display: flex;
    justify-content: center;
    width: 90%;
    font-size: 14px;
    font-weight: 700;
    color: black;
    padding: 30px 60px;
    margin-left: 20%;
    margin: 13px;
    background: white;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    white-space: normal;

    &:hover {
      cursor: pointer;
      background-color: darken(white, 5%);

      i {
        color: #9356DC;
      }
    }

    span {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background: #9356dc;
      border: none;
      color: #fff;
      text-align: center;
      padding: 4px 9px;
      font-size: 14px;
      position: absolute;
      left: -15px;
      line-height: 23px;
      top: 35px;
    }

    i {
      margin: 10px;
      padding: 10px;
      font-size: 22px;
      color: rgb(85, 84, 84);
      position: absolute;
      left: 14px;
      top: 19px;

    }


  }


  /*Les restaurants-cartes*/

  .cards {
    display: flex;
    flex-direction: column;

    .card_1_2,
    .card_3_4 {
      display: flex;
      justify-content: center;
    }


    .card_restaurant {
      width: 100%;
      margin: 10px;
      position: relative;



      img {
        display: flex;
        object-fit: cover;
        height: 250px;
        width: 100%;
        background-size: cover;
        background-position: center;
        border-radius: 15px 15px 0 0;
        padding: 5px;
        border: none;
      }

      .img_position1 {
        object-position: bottom;
      }

      .img_position2 {
        object-position: center 61%;
      }

      .img_position3 {
        object-position: center 97%;
      }

      .img_position4 {
        object-position: center 97%;
      }

      span {
        display: flex;
        background-color: #99E2D0;
        color: darken(#99E2D0, 40%);
        font-size: 15px;
        padding: 5px;
        font-weight: 500;
        outline: none;
        border: none;
        position: absolute;
        top: 20px;
        right: 20px;

      }

      .information_card_restaurant {
        border-radius: 0 0 15px 15px;
        background-color: #FFFFFF;
        padding: 15px 0 10px 15px;
        width: 100%;
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;


        i {
          font-size: 30px;
          margin-right: 30px;
          float: right;
          margin-top: 5px;
        }

        h3 {

          a {
            text-decoration: none;
            color: black;
            font-weight: 700;
            font-size: 22px;
            margin: 5px;
          }
        }


        p {
          font-size: 21px;
          margin: 5px;
          font-weight: 100;
          color: #555454;
        }

      }

    }
  }

  footer {
    background-color: #353434;
    color: white;
    padding: 30px;
    display: flex;


    .h3_footer h3 {
      font-family: 'Shrikhand', cursive;
      font-size: 20px;
      height: 40px;
      color: white;
    }

    .li-restaurant {
      display: flex;
    }

    .icon_restaurant {
      display: flex;
      margin: 5px;
      padding-top: 3px;
      font-size: 12px;
    }

    .li-partenaire {
      display: flex;
    }

    .icon_partenaire {
      display: flex;
      margin: 5px;
      padding-top: 3px;
      font-size: 12px;
    }

    ul li {
      padding: 5px;
    }
  }




  /* PARTIE PAGES MENU*/

  /*Header*/

  body {
    &.bgcolor {
      background-color: rgba(245, 245, 245);
    }
  }

  header {
    position: relative;
    background-color: #FFFFFF;

    i.back {
      position: absolute;
      color: black;
      line-height: 4;
      font-size: 24px;
      left: 41px;
      top: 5px;
    }

    .img_logo img {
      height: 37px;
    }

    .img_restaurant img {
      object-fit: cover;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 74%;
      cursor: pointer;
    }

    .logo_img {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .h1_menu {
    font-family: 'Shrikhand', cursive;
    font-size: 33px;
    position: relative;
    right: 30px;
    display: flex;
    justify-content: center;
  }



  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    background-color: #f7f7f8;
    padding: 0;

    &.bg_color {
      border-radius: 30px 30px 0 0;
      background-color: rgba(245, 245, 245);
      position: relative;
      top: -200px;
    }

    .i_heart i {
      position: absolute;
      float: right;
      font-size: 40px;
      bottom: 65px;
      right: 185px;
    }

    .h2_menu {
      font-weight: 500;
      font-size: 19px;
      color: #1d1d1dbb;

      &::after {
        content: "";
        background-color: #99E2D0;
        width: 80px;
        height: 5px;
        display: block;
        margin: 5px auto;
      }
    }



    .menu {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: flex-start;

      .button_menu {
        display: flex;
        align-items: left;
        flex-direction: column;
        width: 65%;
        font-size: 16px;
        font-weight: 700;
        color: black;
        padding: 20px;
        margin: 9px;
        height: 81px;
        background: white;
        outline: none;
        border: none;
        cursor: pointer;
        border-radius: 20px;
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

        &:hover {
          cursor: pointer;
          background-color: darken(white, 5%);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
        }

        h3 {
          font-size: 20px;
          font-weight: 700;
          position: absolute;
          float: left;
        }

        h4 {
          font-size: 17px;
          font-weight: 500;
          color: #313030d3;
          position: absolute;
          float: left;
          margin-top: 26px;
        }

        h5 {
          position: absolute;
          float: right;
          right: 25px;
          top: 45px;
        }

      }



    }


    .button_commander {
      margin: 30px auto;
      font-size: 19px;
      border-radius: 30px;
      padding: 15px 0;
      cursor: pointer;
      border: none;
      background: linear-gradient(-185deg, #FF79DA, #9356DC);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      align-items: center;
      height: 61px;
      width: 30%;
      border: none;
      display: flex;
      color: white;
      font-weight: 500;
      white-space: nowrap;
      justify-content: center;
      margin-bottom: -100px;

      &:hover {
        background: linear-gradient(-185deg, #d373b8, #9b6dd3);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
      }
    }




  }




}

/* MOBILE Pour ceux qui ont une résolution inférieure ou égale à 768 pixels */
@media screen and (max-width: 767px) {

  .noPadding {
    padding: 0;
  }

  /*HEADER*/

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;

    .container {
      width: 100%;
    }



    /*logo OHMYFOOD*/


    .img_logo {
      display: flex;
      justify-content: center;
      padding: 30px 0 10px 0;
      width: auto;

      img {
        height: 35px;
      }

    }


    /*Barre de recherche*/

    form {
      display: flex;
      justify-content: center;
      background-color: #e8e9eb;
      width: 100%;
      padding: 6px;
      box-shadow: inset 0px 3px 4px rgb(182, 180, 180);

      i.location {
        height: 50px;
        display: flex;
        align-items: center;
        margin-left: 0;
        font-size: 19px;
      }

      input {
        display: flex;
        width: 100%;
        border: none;
        background-color: #e8e9eb;
        font-size: 0.9em;
        text-align: center;
        width: 34%;
        margin: 0;

        &:focus-visible {
          outline: none;
        }

        &::placeholder {
          color: black;
        }
      }
    }
  }


  /*Titre H1 -Réservez le Menu qui vous convient-*/

  h1,
  .p1,
  h2,
  h3,
  p,
  ul li {
    font-family: "Roboto", sans-serif;
  }

  h1 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 50px;
    padding: 50px;
    font-size: 29px;
    font-weight: 700;
    margin: 20px;
  }

  /*Paragraphe p1 -Découvrez des restaurants d'exception, séléctionnés par nos soins.-*/

  .p1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    height: 40px;
    padding-bottom: 10px;
    color: #646262;
  }

  /*Bouton "Explorer nos restaurants*/


  .button {
    margin: 30px auto;
    font-size: 16px;
    border-radius: 30px;
    padding: 15px 0;
    cursor: pointer;
    border: none;
    background: linear-gradient(-185deg, #FF79DA, #9356DC);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    align-items: center;
    height: 55px;
    width: 55%;
    border: none;
    display: flex;
    color: white;
    font-weight: 700;
    white-space: nowrap;
    justify-content: center;
  }





  /*Titre H2 "Fonctionnement" & Titre "Restaurants*/

  h2 {
    font-size: 26px;
    padding: 20px;
    font-weight: 700;
    padding-top: 50px;
  }

  /* 3 Boutons "Choisissez un restaurant"/"Composez votre menu"/"Dégustez au restaurant" */

  .buttons {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    padding-bottom: 50px;
    align-items: center;
  }


  .button_choix {

    display: flex;
    justify-content: center;
    width: 90%;
    font-size: 16px;
    font-weight: 700;
    color: black;
    padding: 30px 60px;
    margin-left: 20%;
    margin: 15px;
    background: white;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    &:hover {
      cursor: pointer;
      background-color: darken(white, 5%);

      i {
        color: #9356DC;
      }
    }

    span {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background: #9356dc;
      border: none;
      color: #fff;
      text-align: center;
      padding: 4px 9px;
      font-size: 14px;
      position: absolute;
      left: -15px;
      line-height: 23px;
      top: 24px;
    }

    i {
      margin: 10px;
      padding: 10px;
      font-size: 22px;
      color: rgb(85, 84, 84);
      position: absolute;
      left: 22px;
      top: 9px;

    }


  }

  /*Les restaurants-cartes*/

  .cards {
    display: flex;
    flex-direction: column;
    width: 100%;

    .card_1_2,
    .card_3_4 {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .card_restaurant {
      width: 95%;
      position: relative;

      &:hover {
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
        border-radius: 15px;
      }

      img {
        display: flex;
        object-fit: cover;
        background-size: cover;
        background-position: center;
        border-radius: 15px 15px 0 0;
        border: none;
        width: 100%;
        height: 215px;
      }

      .img_position1 {
        object-position: bottom;
      }

      .img_position2 {
        object-position: center 61%;
      }

      .img_position3 {
        object-position: center 97%;
      }

      .img_position4 {
        object-position: center 97%;
      }

      span {
        display: flex;
        background-color: #99E2D0;
        color: #278870;
        font-size: 16px;
        padding: 8px 12px;
        font-weight: 500;
        outline: none;
        border: none;
        position: absolute;
        top: 20px;
        right: 20px;
        font-family: "Roboto", sans-serif;
      }

      .information_card_restaurant {
        border-radius: 0 0 15px 15px;
        background-color: #FFFFFF;
        padding: 15px 0 10px 15px;
        width: 100%;
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;



        i {
          font-size: 30px;
          margin-right: 30px;
          float: right;
          margin-top: 5px;
        }

        h3 {

          a {
            text-decoration: none;
            color: black;
            font-weight: 700;
            font-size: 22px;
            margin: 5px;
          }
        }


        p {
          font-size: 21px;
          font-weight: 100;
          color: #555454;
          margin-bottom: 15px;
        }


      }


    }
  }


  /*Footer*/

  .container {
    display: flex;
    flex-direction: column;
  }

  footer {
    background-color: #353434;
    color: white;
    padding: 25px;


    .h3_footer h3 {
      font-family: 'Shrikhand', cursive;
      font-size: 20px;
      height: 40px;
      color: white;
      display: flex;
      justify-content: flex-start;
    }


    ul {

      display: flex;
      cursor: pointer;
      flex-direction: column;


      .li-restaurant {
        display: flex;
      }

      .icon_restaurant {
        display: flex;
        padding-top: 3px;
        font-size: 18px;
      }

      .li-partenaire {
        display: flex;
      }

      .icon_partenaire {
        display: flex;
        padding-top: 3px;
        font-size: 18px;
      }

      li {
        padding: 5px;
        font-size: px;
      }
    }
  }


  /* PARTIE PAGES MENU*/

  body {
    &.bgcolor {
      background-color: rgba(245, 245, 245);
      position: relative;
      top: 0;
    }
  }

  /*Header*/

  header {
    position: relative;
    background-color: #FFFFFF;
    bottom: 0;

    i.back {
      position: absolute;
      color: black;
      line-height: 4;
      font-size: 24px;
      left: 20px;
      top: 0px;
    }



    .img_restaurant img {
      object-fit: cover;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 60%;
      cursor: pointer;

    }

  }

  .h1_menu {
    font-family: "Shrikhand", cursive;
    font-size: 40px;
    font-weight: 500;
    position: relative;
    right: 40px;
    padding-top: 40px;
    margin-left: 20px;
    justify-content: flex-start;
  }

  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    background-color: #f7f7f8;

    &.bg_color {
      border-radius: 60px 60px 0 0;
      background-color: rgb(245, 245, 245);
      position: relative;
      top: -60px;
    }

    .i_heart i {
      position: absolute;
      top: 43px;
      right: 60px;
      font-size: 35px;
    }


    .menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 20px;

      .h2_menu {
        font-weight: 500;
        font-size: 23px;
        color: #1d1d1dbb;
        padding: 0 0 20px 0;
        display: block;

        &::after {
          content: "";
          background-color: #99E2D0;
          width: 55px;
          height: 3px;
          display: block;
          margin: 10px 0;
        }
      }

      .liste_menu {

        width: 100%;

        li .validation_menu {
          width: 90%;
          justify-content: center;
          align-items: center;
          background: white;
          border-radius: 20px;
          margin-bottom: 25px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          position: relative;
          height: 100px;
          overflow: hidden;
          margin-left: 30px;


          &:hover {
            cursor: pointer;
            background-color: darken(white, 5%);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);

            .menu_check {
              opacity: 1;
              transform: translateX(-150px);
              -ms-transform: translateX(-150px);
              -webkit-transform: translateX(-150px);
            }

          }
        }

        .button_menu {
          font-family: 'Roboto', sans-serif;
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: absolute;
          width: 90%;
          font-size: 16px;
          font-weight: 700;
          color: black;
          padding: 20px;
          height: 100px;
          outline: none;
          border: none;
          cursor: pointer;
          border-radius: 20px;

          h3 {
            font-size: 25px;
            font-weight: 700;
          }

          p {
            font-size: 22px;
            font-weight: 500;
            color: #313030d3;
            margin-top: 12px;
          }

        }

        .price_menu {
          font-size: 20px;
          font-weight: 700;
          position: absolute;
          top: 65px;
          right: 40px;
        }

        .menu_check {
          position: absolute;
          top: 0;
          right: -200px;
          color: white;
          width: 200px;
          font-size: 25px;
          background-color: #99E2D0;
          height: 100px;
          border-radius: 0 20px 20px 0px;
          opacity: 0;
          transition: all 0.9s ease-in-out;

          -webkit-transition: all 0.9s ease-in-out;
          -moz-transition: all 0.9s ease-in-out;
          -o-transition: all 0.9s ease-in-out;
        }

      }


    }


  }

  .button_commander {
    margin: 30px auto;
    font-size: 22px;
    border-radius: 30px;
    padding: 15px 0;
    cursor: pointer;
    border: none;
    background: linear-gradient(-185deg, #FF79DA, #9356DC);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    align-items: center;
    height: 65px;
    width: 53%;
    border: none;
    display: flex;
    color: white;
    font-weight: 500;
    white-space: nowrap;
    justify-content: center;
    margin-bottom: 80px;

    &:hover {
      background: linear-gradient(-185deg, #d373b8, #9b6dd3);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    }

  }

}



//Animation Effet fondu sur menus //

.validation_menu {
  animation: fadein 2s;
}

@keyframes fadein {
  0% {
    opacity: 0;
    margin-top: 20px;
  }

  50% {
    opacity: 0.5;
    margin-top: 10px;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}