 /* MOBILE Pour ceux qui ont une résolution inférieure ou égale à 768 pixels */
 @media screen and (max-width: 767px) {

  .img_logo {
		display: flex;
		justify-content: center;
		padding: 0 0 0 30px;
		width: auto;
	}

}



/* TABLETTE Pour ceux qui ont une résolution comprise entre 768 px et 991px */
@media screen and (min-width:768px) and (max-width:991px) {
  
}


/* DESKTOP Pour ceux qui ont une résolution supérieure ou égale à 992px */
@media screen and (min-width:992px) and (max-width:1223px) {
  header{
      width:100%;
  }

  img{
   height: 60px;
   }
   
  .container {
       width: 992px;
   }

}



/* DESKTOP LARGE Pour ceux qui ont une résolution supérieure ou égale à 1224px */
@media screen and (min-width:1224px){

  .container { 
      width: 1224px; 
  }

}



