/*Propriétés CSS applicables à toute la page*/

* {
    box-sizing: border-box;
    /* box-sizing est appliqué à tous les éléments */
}


body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Shrikhand', cursive;
    padding: 0;
    margin: 0;
}


.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 30px 0 0 0;
    width: 100%;
}

.noPadding {
    padding: 0;
}

/*HEADER*/

/*logo OHMYFOOD*/

.img_logo {
    display: flex;
    justify-content: center;
    padding: 30px 0 30px 0;
    width: auto;

    img {
        height: 40px;
    }
}


/*Barre de recherche*/

form {
    display: flex;
    justify-content: left;
    background-color: #e8e9eb;
    width: 100%;
    padding: 10px;
    box-shadow: inset 0px 3px 4px rgb(151, 151, 151);

    .icon_rechercher {
        height: 50px;
        display: flex;
        align-items: center;
        font-size: 20px;
    }

    input {
        display: flex;
        width: 100%;
        text-indent: 10px;
        border: none;
        background-color: #e8e9eb;
        font-size: 18px;
        text-align: left;
        width: 40%;
        margin: 0;

        &:focus-visible {
            outline: none;
        }

        &::placeholder {
            color: black;
        }
    }
}

/*Titre H1 -Réservez le Menu qui vous convient-*/

h1,
.p1,
h2,
h3,
p,
ul li {
    font-family: "Roboto", sans-serif;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 50px;
    font-size: 30px;
    font-weight: 700;
}


/*Paragraphe p1 -Découvrez des restaurants d'exception, séléctionnés par nos soins.-*/

.p1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    height: 40px;
}


/*Bouton "Explorer nos restaurants*/

.button {
    margin: 30px auto;
    font-size: 19px;
    border-radius: 30px;
    padding: 15px 0;
    cursor: pointer;
    border: none;
    background: linear-gradient(-185deg, #FF79DA, #9356DC);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    align-items: center;
    height: 55px;
    width: 35%;
    border: none;
    display: flex;
    color: white;
    font-weight: 700;
    white-space: nowrap;
    justify-content: center;
}

/*Titre H2 "Fonctionnement" & Titre "Restaurants*/

h2 {
    font-size: 25px;
    padding: 30px;
    font-weight: 700;
    display: block;
    align-items: center;
}

.restaurant,
.fonctionnement {
    display: flex;
    flex-direction: column;
}


/* 3 Boutons "Choisissez un restaurant"/"Composez votre menu"/"Dégustez au restaurant" */


.buttons {
    display: flex;
    padding: 0 20px;
    padding-bottom: 50px;
}


.button_choix {

    display: flex;
    justify-content: center;
    width: 90%;
    font-size: 16px;
    font-weight: 700;
    color: black;
    padding: 30px 60px;
    margin-left: 20%;
    margin: 15px;
    background: white;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    &:hover {
        cursor: pointer;
        background-color: darken(white, 5%);

        i {
            color: #9356DC;
        }
    }

    span {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background: #9356dc;
        border: none;
        color: #fff;
        text-align: center;
        padding: 4px 9px;
        font-size: 14px;
        position: absolute;
        left: -15px;
        line-height: 23px;
        top: 24px;
    }

    i {
        margin: 10px;
        padding: 10px;
        font-size: 22px;
        color: rgb(85, 84, 84);
        position: absolute;
        left: 22px;
        top: 9px;

    }


}


/*Les restaurants-cartes*/

.cards {
    display: flex;

    .card_1_2,
    .card_3_4 {
        display: flex;
        width: 100%;
    }


    .card_restaurant {
        width: 100%;
        margin: 10px;

        img {
            display: flex;
            object-fit: cover;
            height: 250px;
            width: 100%;
            background-size: cover;
            background-position: center;
            border-radius: 15px 15px 0 0;
            padding: 5px;
            border: none;
        }

        span {
            display: flex;
            background-color: #99E2D0;
            color: #278870;
            font-size: 16px;
            padding: 8px 12px;
            font-weight: 500;
            outline: none;
            border: none;
            position: absolute;
            left:230px;
            bottom:169px;
            font-family: "Roboto", sans-serif;
          }
    

        .information_card_restaurant {
            border-radius: 0 0 15px 15px;
            background-color: #FFFFFF;
            padding: 15px 0 10px 15px;
            width: 100%;
            cursor: pointer;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            margin-bottom: 20px;


            i {
                font-size: 30px;
                display: flex;
                justify-content: flex-end;
                margin-right: 30px;
            }

            h3 {

                a {
                    text-decoration: none;
                    color: black;
                    font-weight: 700;
                    font-size: 22px;
                    margin: 5px;
                }
            }


            p {
                font-size: 21px;
                margin: 5px;
                font-weight: 100;
            }

        }

    }
}

footer {
    background-color: #353434;
    color: white;
    padding: 25px 50px 50px 50px;

    .container {
        display: flex;
        flex-direction: column;
        padding-top: 0;
    }

    .h3_footer h3 {
        font-family: 'Shrikhand', cursive;
        font-size: 25px;
        height: 45px;
        color: white;
        display: flex;
        justify-content: center;
        padding-top: 0;
    }

    ul {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }

    .li-restaurant {
        display: flex;
    }

    .icon_restaurant {
        display: flex;
        margin: 5px;
        padding-top: 3px;
        font-size: 12px;
    }

    .li-partenaire {
        display: flex;
    }

    .icon_partenaire {
        display: flex;
        margin: 5px;
        padding-top: 3px;
        font-size: 12px;
    }

    ul li {
        padding: 5px;
        font-size: 18px;
    }
}